body {
  background-color: #232033;
}

h1 {
  color: #fcfcfd;
}

a {
  color: #2f4f4f;
}

.dim-gray {
  color: #696969;
}

.gray {
  color: #808080;
}

/* https://dribbble.com/shots/19504729-Architectural-Pitchdeck-Dark-Theme */
